.hero-unit {
    background-image: url("../img/products/house-bing.jpg")!important;
    /*background-size: 100% !important;*/
    background-position: -0;
    background-repeat: no-repeat;
    color: #f5f5f5 !important;
}

.carousel-caption {
    background-color: rgba(8,8,8,0.75) !important;
}

.navbar-wrapper {
    z-index: 15 !important;
}